:root {
  --body-text-size: 1.25rem;

  --header-text-line-height: 1.5rem; /* 1.2*text-size for large-text*/
  --body-text-line-height: 2rem; /* 1.6*text-size for medium-text*/

  --border-line-width: 2px;
}

body {
  margin-top: 3rem;
  min-width: 560px;
}

.column1 {
  margin-bottom: 3rem;
  padding-top: 0;
  float: left;
  width: 50%;
}

.column2 {
  margin-top: 1rem;
  margin-bottom: 3rem;
  float: left;
  width: 50%;
}

#column--border {
  border-right: var(--border-line-width) solid black;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 1000px) {
  .column1 {
    width: 100%;
    padding-bottom: 0;
  }
  .column2 {
    width: 100%;
    padding-top: 0;
  }
  #column--border {
    border: none;
  }
  .column1 {
    margin-bottom: 0;
  }
  .column2 {
    margin-top: 0;
  }
}

h1 {
  /* margin-top: 4rem; */
  margin-right: 2rem;
  text-align: center;
  white-space: nowrap;
}

h2 {
  font-size: 1.3rem;
}

h1,
h2,
h3 {
  line-height: var(--header-text-line-height);
}

b {
  font-weight: 700;
}

a {
  color: black;
  text-decoration: solid;
}

section {
  width: 100%;
  height: 100%;
}

blockquote {
  margin-bottom: 3rem;
}

dt {
  margin-bottom: 0.3rem;
  margin-top: 0.7rem;
}

dl {
  font-size: var(--body-text-size);
  margin-left: 1.75rem;
  line-height: var(--body-text-line-height);
}

.icon-small {
  width: 1.5rem;
  height: 1.5rem;
  vertical-align: -0.25rem;
  margin-right: 0.25rem;
}

.button-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.loader-container {
  position: fixed;
  inset: 0;
  z-index: 999;
  display: grid;
  place-content: center;
  transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out;
  transform: translateX(-15rem);
}

.loader {
  background-image: url(illustrations/dog\ running\ cycle\ v4.svg);
  width: 285px;
  height: 480px;
  background-repeat: none;
  background-size: cover;
  animation: 0.75s steps(9) infinite walking;
}

.dog-wrapper {
  margin-right: 1rem;
  width: 76px; /* Match inner width */
  height: 80px; /* New desired height */
  overflow: hidden;
  position: relative;
}

.dog-running-animation {
  background-image: url(illustrations/dog\ running\ cycle\ v4.svg);
  width: 76px;
  height: 128px; /* Keep the original height */
  background-repeat: none;
  background-size: cover;
  animation: 0.75s steps(9) infinite walking;
  position: absolute;
  top: -24px; /* Adjust to center the visible part */
}

@keyframes walking {
  to {
    background-position: 100%;
  }
}

@keyframes spinner {
  to {
    transform: rotate(1turn) scale(1.2);
  }
}

.loader-container.hidden {
  transform: translateX(15rem);
  opacity: 0;
  visibility: hidden;
  transition: transform 2s ease-in-out, opacity 2s ease-in-out,
    visibility 2s ease-in-out;
}

#page-content {
  max-width: 1400px; /* Adjust as needed */
  margin: 0 auto; /* Centers the container */
  padding: 0 20px; /* Optional: adds padding for smaller screens */

  opacity: 0;
  transform: translate3d(-5rem, 0, 0);
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

#page-content.visible {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.header-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

button {
  display: inline-block;
  margin: 1rem;
  padding: 12px 24px;
  background-color: #000;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  border: 2px solid #000;
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;
  white-space: nowrap;

  height: 3rem;

  /* padding: 10px 20px; */
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #fff;
  color: #000;
  border-color: #fff;
}

button:focus {
  outline: none;
}

.lang-content {
  display: none;
}
.active {
  display: block;
}
