/* :root {
  --def-transition-duration: 0.3s;
} */

section {
  width: 100%;
  height: 100%;
  border-left: solid black 1px;
}

.loader-container {
  position: fixed;
  inset: 0;
  z-index: 999;
  display: grid;
  place-content: center;
  transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out;
}

.loader {
  background-image: url(illustrations/dog\ running\ cycle\ v4.svg);
  width: 285px;
  height: 480px;
  background-repeat: none;
  background-size: cover;
  animation: 0.75s steps(9) infinite walking;
}

@keyframes walking {
  to {
    background-position: 100%;
  }
}

@keyframes spinner {
  to {
    transform: rotate(1turn) scale(1.2);
  }
}

.loader-container.hidden {
  transform: translateX(15rem);
  opacity: 0;
  visibility: hidden;
  transition: transform 1s ease-in-out, opacity 2s ease-in-out,
    visibility 2s ease-in-out;
}

#page-content {
  max-width: 600px; /* Adjust as needed */
  margin: 0 auto; /* Centers the container */
  padding: 0 20px; /* Optional: adds padding for smaller screens */

  opacity: 0;
  transform: translate3d(-5rem, 0, 0);
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

#page-content.visible {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
